<div class="statusbar">
  <div class="sb-group sb-left">
    <div class="sb-item"><span class="sb-dot"></span> System Operational</div>
    <div class="sb-div"></div>
    <div class="sb-item">Env: <span class="sb-tag">Production</span></div>
  </div>

  <div class="sb-group sb-mid">
    <div class="sb-item">Last synced <span class="sb-mono">just now</span></div>
    <div class="sb-div"></div>
    <div class="sb-item">Audit Logging Active</div>
  </div>

  <div class="sb-group sb-right">
    <div class="sb-item">Session expires in <span class="sb-mono">14:52</span></div>
    <div class="sb-div"></div>
    <div class="sb-item sb-mono">{{ clock() }}</div>
    <div class="sb-div"></div>
    <div class="sb-item">v2.4.1</div>
  </div>
</div>
